        $--white: #FFFFFF;
        $--black: #000000;
        $--very-light-pink: #C7C7C7;
        $--text-input-field: #F7F7F7;
        $--hospital-green: #ACD9B2;
        $--sm: 14px;
        $--md: 16px;
        $--lg: 18px;

        $--main-color: #2a2e34;
        $--secondary-color: #fbe134;
        $--complementary-color: #e4b61a;
        $--background-color: #e9eaec;

        $--light-blue: #7fe0f1;
        $--dark-blue: #0c0036;
        