@import 'vars';

.contenedordiploma  {
    margin: auto;
    display: grid;
    margin-top: 60px;
    height: auto;
    width: 320px;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    

   .diplomaimg {
    width: 150px;
    height: auto;
    margin:  15px;
   }
   h6 {
    text-align: center;
    margin: 15px;
   }
  

}
@media (min-width:600px) {

    .contenedordiploma {
        width: 600px;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
        gap: 45px;
        
    
        .diplomaimg {
        width: 250px;
       
       }
    }
}
@media (min-width:900px) {

    .contenedordiploma {
        width: 900px;
    }
}
@media (min-width:1000px) {

    .contenedordiploma {
        width: 900px;
    }
}
