@import 'vars';

.contenedordiploma  {
    margin: auto;
    display: grid;
    margin-top: 60px;
    height: auto;
    width: 320px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    transition: opacity 0.3s ease-in-out;
    

   .diplomaimg {
    width: 150px;
    height: auto;
    margin:  15px;
   }
   h6 {
    text-align: center;
    margin: 15px;
   }
  
   
}
.pagination {
    color: $--background-color;
    text-align: center;
    margin: 15px;
    transition: opacity 0.3s ease-in-out;
}
.active {
    color: $--main-color;
    background-color: $--background-color;
    border-radius: 5px;
  }

@media (min-width:600px) {

    .contenedordiploma {
        width: 600px;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
        gap: 45px;
        
    
        .diplomaimg {
        width: 250px;
       
       }
    }
}
@media (min-width:900px) {

    .contenedordiploma {
        width: 900px;
    }
}
@media (min-width:1000px) {

    .contenedordiploma {
        width: 900px;
    }
}
@media (max-width: 600px) {
    .contenedordiploma {
        grid-template-columns: none;
        grid-template-rows: repeat(auto-fill, 250px);

        .diplomaimg {
            width: auto;
            height: 250px;
            margin: 10px auto;
        }
    }
}
