@import 'vars';

.contenedordiploma  {
    display: inline-block;
    width: 100% ;
    margin-top: 60px;
     height: auto;

   .diplomaimg {
    width: 150px;
    height: auto;
    margin:  15px;
   }

}
@media (min-width:600px) {
    .contenedordiploma .diplomaimg {
        width: 300px;
        height: auto;
        margin:  15px;
       }
}
