@import 'vars';

.contenedordiploma  {
    display: inline-block;
    width: 100% ;
    margin-top: 60px;
     height: auto;

   .diplomaimg {
    width: 200px;
    height: auto;
    margin:  15px;
   }

}
