@import 'vars';

.footer {
    color: $--background-color;
    font-weight: 700;
    text-align: center;
    .socialmediacontainer
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }   
}