@import '@styles/_vars.scss';

.contenedorPerfil {
    background-color:  $--main-color;
    width: 320px;
    height: auto;
    display: inline-flex;    
    flex-direction: column;
    padding: 25px;
    justify-content: space-around;
    margin-bottom: 50px;
   
    
    .greetings{
        display: inline-block;
        text-align: left;
        width: 300px;
        margin-left: 15px;
        color:  $--background-color;
        
        
        .perfilNombre{    
        display: inline-block;
        height: 50px;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 10px;
        color:  $--background-color;
        padding: 12px 12px 0 0; 
        
    }
     .PerfilProfesion{
        display: block;
        height: 50px;
        text-align: left;
        padding: 12px 12px 0 0;
        color:  $--background-color;
        margin-top: auto;
        margin-bottom: 15px;
        .text {
          font-size: 25px;
          
        }
    }
    }
    .PerfilFoto{
        height: 300px;
        max-width: 400px;
        margin-bottom: 15px;
        
        .PerfilFotoImg {
            width: auto;
            height: 300px;
            display: flex;
            position: relative ;
            margin-left: 50%;
            align-self: center;
            margin-top: 200px ;

            
       
        transform: translate(-50%, -50%);
        animation: bounce 3s infinite;
            
        }
    }
    
 @keyframes bounce {
    0% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -70%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
   
}


@media (min-width: 600px) {
    .contenedorPerfil {
        flex-direction: row;
        margin-right: auto;
        width: 100%;
        
        
    }
    
    .PerfilFotoImg {
      margin-left: auto;
      margin-right: auto;
    }
}