@import '@styles/_vars.scss';


// profile
.contenedorPerfil {
    background-color: $--background-color;
    width: 300px;
    height: auto;
    border: 4px $--dark-blue solid;
    
    padding: 5px;
    margin-bottom: 50px;
    margin: 0 auto 0 auto;
    
    .perfilNombre{    
        height: 50px;
        text-align: right;
        color:  $--dark-blue;
        line-height: normal;
        padding: 12px 12px 0 0;  
    }
    .PerfilFoto{
        height: 300px;
        .PerfilFotoImg {
            width: auto;
            height: 100%;
            margin-left: auto;
            display: flex;
        }
    }
    .PerfilProfesion{
        
        height: 50px;
        text-align: right;
        padding: 12px 12px 0 0;
        color:  $--dark-blue;
    }
   
}
.contenedorPerfil:hover {
    box-shadow: 0px 9px 30px rgba(22, 5, 255, 0.3);
}


// skills

.Titulo{
    color: $--dark-blue;
    text-align: center;
    margin: 15px;
    font-weight: 600;
}

.habilidadesPersonales {
    display: grid;
    margin: 15px;
    min-width: 300px;
	grid-template-columns: repeat(auto-fill, 50px);
    
    margin-bottom: 15px;
    text-align: center;
    
    .skills {
        width: 30px;
        height: 30px;
        margin: 7px;
        
    }
}

// proyects

.contenedorProyectos {
    width: 300px;
    border: 1 px solid $--dark-blue;
    
    margin: auto auto 35px auto;
    background-color: rgb(63, 63, 63);
    
    .Titulo {
        margin: 10px;
    }
    
    
    .proyectoImg {
        display: inline-block;
        width: 290px;
        height: auto;
        margin: 5px;
        background-color: $--light-blue;
        img {
            width: 100%;
            height: auto;
            overflow: hidden;
            
        }

    }
    .proyectoTitulo {
        color: $--light-blue;
        text-align: center;
    }
    .proyectoDescripcion {
        display: inline-block;
        text-align: justify;
        margin: 20px;
        font-size: $--sm;
        color: $--white;
    }

    .skillsProyectos {
        margin: 5px;
        .skillsProyectoimg {
            margin-left: 10px;
        }
    }
    .botoncontacto{
        display: flex;
        justify-content: center;
        margin: auto auto 0 auto;
        
        margin-bottom: 10px;
        padding: 5px; 
        background-color: $--light-blue;

    }
}

@media (min-width: 600px) {
    .contenedorProyectos {
     margin-top: 0%;
     margin: 10px 20px 20px 20px;
    }
    .allproyectcontainer {
        display: flex;
    }
    .habilidadesPersonales {
        min-width: 400px;
    }
    
}