@import '@styles/_vars.scss';

.contenedorPerfil {
    background-color: $--light-beige;
    width: 320px;
    height: auto;
    display: inline-flex;    
    flex-direction: column;
    padding: 25px;
    justify-content: space-around;
    margin-bottom: 50px;
   
    
    .greetings{
        display: inline-block;
        text-align: left;
        width: 300px;
        margin-left: 15px;
        color:  $--dark-blue;
        
        
        .perfilNombre{    
        display: inline-block;
        height: 50px;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 10px;
        color:  $--dark-blue;
        padding: 12px 12px 0 0; 
        
    }
     .PerfilProfesion{
        display: block;
        height: 50px;
        text-align: left;
        padding: 12px 12px 0 0;
        color:  $--dark-blue;
        margin-top: auto;
        margin-bottom: 15px;
        
    }
    }
    .PerfilFoto{
        height: 300px;
        max-width: 400px;
        margin-bottom: 15px;
        
        .PerfilFotoImg {
            width: auto;
            height: 100%;
            display: flex;
            margin-left: 15px;
            
        }
    }
    
   
}


@media (min-width: 600px) {
    .contenedorPerfil {
        flex-direction: row;
        margin-right: auto;
        width: 100%;
        
    }
}