// proyects
@import '@styles/_vars.scss';

.Titulo {
    text-align: center;
    margin: 35px;
    font-size: large;
}

.contenedorProyectos {
    width: 300px;
    margin: auto auto 35px auto;
    background-color: $--dark-beige;
    padding: 2px 0px 2px 0px;
    border-radius: 5px;
    
    .Titulo {
        margin: 10px;
    }
    
    
    .proyectoImg {
        display: inline-block;
        width: 290px;
        height: auto;
        margin: 5px;
        background-color: $--light-blue;
        img {
            width: 100%;
            height: auto;
            overflow: hidden;
            
        }

    }
    .proyectoTitulo {
        color: $--dark-blue;
        text-align: center;
    }
    .proyectoDescripcion {
        display: inline-block;
        text-align: justify;
        margin: 20px;
        font-size: $--sm;
        color: $--dark-blue;
    }

    .skillsProyectos {
        margin: 5px;
        .skillsProyectoimg {
            margin-left: 10px;
        }
    }
    .botoncontacto{
        display: flex;
        width: 100px;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        
        padding: 5px; 
        background-color: $--light-blue;
        border: none;
        border-radius: 25px;

    }
}


@media (min-width: 600px) {
    
    .allproyectcontainer {
    display: grid;
    width: 700px;
	grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, minmax(340px, 1fr));
	gap: 5px;
	place-content: center;
	margin: 3em 0 0 0;
    height: auto;

    justify-content: center;
    align-content: center;

    }
    .contenedorProyectos {
        
        margin: 10px 20px 20px 20px;
    }
    
    .habilidadesPersonales {
        min-width: 400px;
    }
    
}
@media (min-width: 920px) {
    .allproyectcontainer {
        width: 920px;
}}
@media (min-width: 1200px) {
    .allproyectcontainer {
        width: 1200px;
}}
@media (min-width: 1400px) {
    .allproyectcontainer {
        width: 1400px;
}}