@import '@styles/_vars.scss';

.Titulo{
    color: $--background-color;
    text-align: center;
    margin: 15px;
    font-weight: 600;
}

.habilidadesPersonales {
    display: grid;
    margin: 15px;
    min-width: 300px;
	grid-template-columns: repeat(auto-fill, 50px);
    color:$--background-color;
    margin-bottom: 15px;
    text-align: center;
    
    .skills {
        width: 30px;
        height: 30px;
        margin: 10px;
        
    }
}
